@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');

:root {
    --background-color: #2e2e2e;
    --button-color: #666666;
    --toolbar-background: #3a4a57;
}

html {
    color-scheme: dark;
}

body {
    margin: 0px;

    background-color: var(--background-color);
}

.button {
    background-color: var(--button-color);
}

#toolbar {
    background-color: var(--toolbar-background);
    padding: 10px;
}

.text-areas {
    display: flex;
    justify-content: space-between;
}

textarea {
    resize: none;
    padding: 1.2%;
    margin: 0.5%;
    height: em;

    font-family: 'Fira Code';
    font-size: 16px;
}

.toolbar-item {
    height: 30px;
}

#play-button {
    width: 8%;
}